body {
  background: #f2f2f2;
}

.list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.list-item {
  width: 269px;
  height: 336px;
  background: #ffffff;
  box-shadow: 0px 0px 7px 2px rgba(0, 0, 0, 0.0294384);
  border-radius: 5px;
  cursor: pointer;
}

.list-item-1 {
  width: 269px;
  height: 336px;
  background: #ffffff;
  box-shadow: 1px 5px 21px 2px rgb(0 0 0 / 26%);
  border-radius: 5px;
  cursor: pointer;
}

.heading {
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;
  color: #111517;
}

.text-pop {
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
}

.text-font {
  font-weight: 500;
  font-size: 15px;
  color: #5e5e60;
}

.wwww {
  background: #202c36;
}
